[Unit]
Description=kubelet service

[Service]
ExecStart=/usr/bin/hyperkube proxy --kubeconfig=/etc/kubernetes/kubelet.conf  --cluster-cidr=192.168.0.0/16

[Install]
WantedBy=multi-user.target

