[Unit]
Description=kube scheduler service
After=kube-apiserver.service

[Service]
ExecStart=/usr/bin/hyperkube scheduler --master=http://localhost:8080 --v=2 --leader-elect=true --kubeconfig=/etc/kubernetes/admin.conf
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target

