[Unit]
Description=kube controller-manager service
After=kube-apiserver.service

[Service]
ExecStart=/usr/bin/hyperkube   controller-manager --leader-elect --master=http://localhost:8080 --cluster-name=kubernetes --root-ca-file=/etc/kubernetes/pki/ca.pem --service-account-private-key-file=/etc/kubernetes/pki/apiserver-key.pem --cluster-signing-cert-file=/etc/kubernetes/pki/ca.pem --cluster-signing-key-file=/etc/kubernetes/pki/ca-key.pem  --kubeconfig=/etc/kubernetes/admin.conf --v=5

[Install]
WantedBy=multi-user.target

