<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<!-- Id: com.sap.ldi:nexus-settings:1.17.0:LeanDI -->
  
	<mirrors>
		<mirror>
			<id>mirror1</id>
			<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.snapshots/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>release.build</id>
			<pluginRepositories>
				<pluginRepository>
					<id>build.release</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases/</url>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>build.release</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases/</url>
				</repository>
			</repositories>
			<properties>
				<tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
				<tycho.localArtifacts>ignore</tycho.localArtifacts>
			</properties>
		</profile>
		<profile>
			<id>milestone.build</id>
			<pluginRepositories>
				<pluginRepository>
					<id>build.milestone</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones/</url>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>build.milestone</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones/</url>
				</repository>
			</repositories>
			<properties>
				<tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
				<tycho.localArtifacts>ignore</tycho.localArtifacts>
			</properties>
		</profile>
		<profile>
			<id>snapshot.build</id>
			<pluginRepositories>
				<pluginRepository>
					<id>build.snapshot</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.snapshots/</url>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>build.snapshot</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.snapshots/</url>
				</repository>
				<repository>
					<id>build.milestone</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones/</url>
				</repository>
			</repositories>
			<properties>
				<tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
				<tycho.localArtifacts>ignore</tycho.localArtifacts>
			</properties>
		</profile>
		<profile>
			<id>sonar</id>
				<activation>
					<activeByDefault>true</activeByDefault>
				</activation>
				<properties>
					<sonar.jdbc.url>jdbc:postgresql://mo-98e5075a5.mo.sap.corp:5432/sonarqube</sonar.jdbc.url>
					<sonar.jdbc.username>sonar</sonar.jdbc.username>
					<sonar.jdbc.password>sonar</sonar.jdbc.password>
					<sonar.host.url>http://mo-98e5075a5.mo.sap.corp:9000</sonar.host.url>
					<tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
					<tycho.localArtifacts>ignore</tycho.localArtifacts>
				</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>snapshot.build</activeProfile>
	</activeProfiles>
	<pluginGroups>
		<pluginGroup>com.sap.ldi</pluginGroup>
	</pluginGroups>
</settings>
